.social-icons {
    color:rgb(108, 213, 178);
    padding: 5px;
}

.social-icons a {
    color: inherit;
    padding: 5px;
}

.social-link {
    font-size: 2rem;
}

.social-link:hover {
    color: white;
    transition: 750ms;
}

.contact {
    font-size: .85rem;
    padding: 1px;
    color:#fff;
    text-align: end;
}

.contact a {
    color: inherit;
}

.contact i {
    padding: 0px 2px;
}

.contact a:hover {
    color: rgb(108, 213, 178);
    font-size: 1rem;
}

hr {
    opacity: 25%;
    color: #fff;
    font-weight: 900;
}
