@import "tailwindcss";

.file-entry:focus {
  outline: 0;
  border: 2px dashed #aaaaaa50;
  border-radius: 5px;
  padding: 8px 4px 5px 5px;
}

.process-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: screen;
  border: 2px solid #222;
  border-radius: 5px;
  border-top: 0;
  width: 100%;
}

.process-wrapper header {
  padding-bottom: 10px;
  background-color: #212121;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: stretch;
  align-items: center;
}

.process-wrapper header figure {
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
}

.process-wrapper header nav {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 0;
  width: 100%;
  gap: 10px;
}

.process-wrapper .process-content {
  width: 100%;
}

.process-wrapper header nav button {
  background-color: #212121;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  padding: 2.5px 2.5px;

  @apply hover:text-zinc-300/75 transition-all duration-150 focus:text-zinc-500 focus:scale-95;
}

.file-manager {
  display: grid;
  column-gap: 20px;
  row-gap: 10px;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fill, 120px);
  grid-template-rows: repeat(auto-fill, 70px);
  height: calc(100vh - 4.25rem);

  @apply max-w-full h-fit items-center justify-start relative z-[20] top-[4.25rem] w-auto mx-10;
}

@media only screen and (max-width: 700px) {
  .file-manager {
    grid-template-columns: repeat(auto-fill, 95px);
    grid-template-rows: repeat(auto-fill, 60px);
    grid-auto-flow: row;
  }
}
