body {
      background-image: url('https://wallpaperaccess.com/full/1567665.png');
    }

    h1 {
      color: #0d9c9b;
      font-size: 200%;
      font-family: verdana;
    }

    p1 {
      color: #77c7af;
      font-size: 90%;
      font-family: Trebuchet MS;
    }

    a {
      color: #0d9c9b;
    }

    #bottom {
      color: #77c7af;
      position: absolute;
      font-family: Tahoma;
      font-size: 70%;
      bottom: 0;
      left: 0;
    }




ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Trebuchet MS;
}

li {
  float: left;
}

li a {
  display: block;
  font-size: 120%;
  color: #9ac9c3;
  text-align: center;
  padding: 10px 14px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #3f4e4b;
}

.active {
  background-color: #2e8d80;
}
