nav[role="nav"] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
  border-bottom: 5px outset #666;
  background-image: linear-gradient(#171717, #111111a0);
  top: 0;
  width: screen;
  height: 4rem;
  box-shadow: 2px 2px 0px 0px #000;
}
