.background {
    background: linear-gradient(to bottom, transparent, rgba(var(--background-end-rgba)), ) rgba(var(--background-start-rgba));
    background-color: rgba(var(--background-end-rgba));
    margin: 0;
    padding: 0;
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.background-img {
    @apply opacity-10 w-screen h-screen;
}