@import "tailwindcss";

:root {
  --forground-rgb: 255, 255, 255;
  --background-start-rgb: 1, 4, 3;
  --background-end-rgb: 2, 8, 12;
}

html,
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb)));
  color: rgb(var(--forground-rgb));
  font-family: var(--font-varela);
  @apply h-screen w-screen fixed z-0 overflow-y-scroll;
}

@layer utilities {
  .font-kanit {
    font-family: var(--font-kanit);
  }
  .font-varela {
    font-family: var(--font-varela);
  }
}

h1 {
  font-family: var(--font-kanit);
  @apply font-bold text-[2rem] sm:text-[3rem];
}

h2 {

  text-decoration: underline;
  text-underline-position: above;
  text-shadow: 1px 1px 1rem #777, 1px 1px 1rem #202324;

  @apply font-light text-[1.5rem] sm:text-[2rem] md:text-[3rem] lg:text-[4rem] underline-offset-[0.75rem] xl:underline-offset-[1rem] text-zinc-100/90;
}

h3 {
  @apply font-semibold text-[1.25rem] sm:text-[1.5rem] md:text-[2rem] lg:text-[3rem];
}

h4 {
  @apply font-semibold text-[1rem] sm:text-[1.25rem] md:text-[1.5rem] lg:text-[2rem];
}

main {
  @apply h-screen w-screen overflow-y-scroll;
}

a {
  @apply hover:underline underline-offset-4 transition-all duration-300 ease-in-out hover:text-blue-400 focus:text-blue-500; 
}

@media screen and (max-width: 1024px) {
  .container {
    @apply w-4/5;
  }
}


@layer utilities {
  .container {
    @apply flex flex-col w-2/3 lg:w-4/5 xl:w-2/3 mx-auto items-center gap-14 lg:flex-row justify-between;
  }

  .wrapper {
    @apply flex flex-col w-full h-full gap-10 items-start;
  }
}