@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --forground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 11, 20, 26;
}

html,
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb)));
  color: rgb(var(--forground-rgb));
  font-family: var(--font-varela);
  @apply h-screen w-screen fixed z-0 overflow-y-scroll;
}

@layer utilities {
  .font-kanit {
    font-family: var(--font-kanit);
  }
  .font-varela {
    font-family: var(--font-varela);
  }
}

h1 {
  text-shadow: 1px 1px 1rem #666;
  font-family: var(--font-kanit);
  @apply font-bold text-[2rem] sm:text-[3rem] md:text-[4rem] lg:text-[5rem];
}

h2 {

  @apply font-bold text-[1.5rem] sm:text-[2rem] md:text-[3rem] lg:text-[4rem];
}

h3 {
  @apply font-semibold text-[1.25rem] sm:text-[1.5rem] md:text-[2rem] lg:text-[3rem];
}

h4 {
  @apply font-semibold text-[1rem] sm:text-[1.25rem] md:text-[1.5rem] lg:text-[2rem];
}

main {
  @apply h-screen w-screen overflow-y-scroll;
}

a {
  @apply hover:underline underline-offset-4 transition-all duration-300 ease-in-out hover:text-blue-400 focus:text-blue-500; 
}

@media screen and (max-width: 1270px) {

  main {
    @apply h-auto lg:h-2/3 flex items-center overflow-y-scroll;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    @apply w-4/5;
  }
}


@layer utilities {
  .container {
    @apply flex flex-col w-2/3 lg:w-4/5 xl:w-2/3 mx-auto items-center gap-14 lg:flex-row justify-between;
  }

  .wrapper {
    @apply flex flex-col w-full h-full gap-10 items-start;
  }
}