.waves {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    gap: none;
}

@keyframes waveform {
    0% {
        transform: scaleY(.5);
    }

    25% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(1.5);
    }

    75% {
        transform: scaleY(1.25);
    }

    100% {
        transform: scaleY(.5);
    }
}

.wave0 {
    aspect-ratio: .125/1;
    animation: waveform var(--wavefreq) ease-in-out infinite forwards;
    background-color: #fff;
    border-radius: 30px;
    width: .4vw;
}

.wave1 {
    aspect-ratio: .125/1;
    animation: waveform var(--wavefreq) ease-in-out infinite forwards;
    background-color: #eee;
    border-radius: 30px;
    width: .4vw;
}

.wave2 {
    aspect-ratio: .125/1;
    animation: waveform var(--wavefreq) ease-in-out infinite forwards;
    background-color: #ddd;
    border-radius: 30px;
    width: .4vw;
}

.wave3 {
    aspect-ratio: .125/1;
    animation: waveform var(--wavefreq) ease-in-out infinite forwards;
    background-color: #ccc;
    border-radius: 30px;
    width: .4vw;
}

.wave4 {
    aspect-ratio: .125/1;
    animation: waveform var(--wavefreq) ease-in-out infinite forwards;
    background-color: #bbb;
    border-radius: 30px;
    width: .4vw;
}

.wave5 {
    aspect-ratio: .125/1;
    animation: waveform var(--wavefreq) ease-in-out infinite forwards;
    background-color: #ddd;
    border-radius: 30px;
    width: .4vw;
}

.wave6 {
    aspect-ratio: .125/1;
    animation: waveform var(--wavefreq) ease-in-out infinite forwards;
    background-color: #ccc;
    border-radius: 30px;
    width: .4vw;
}

.wave7 {
    aspect-ratio: .125/1;
    animation: waveform var(--wavefreq) ease-in-out infinite forwards;
    background-color: #ccc;
    border-radius: 30px;
    width: .4vw;
}

.wave8 {
    aspect-ratio: .125/1;
    animation: waveform var(--wavefreq) ease-in-out infinite forwards;
    background-color: #ddd;
    border-radius: 30px;
    width: .4vw;
}

.wave9 {
    aspect-ratio: .125/1;
    animation: waveform var(--wavefreq) ease-in-out infinite forwards;
    background-color: #eee;
    border-radius: 30px;
    width: .4vw;
}

.wave10 {
    aspect-ratio: .125/1;
    animation: waveform var(--wavefreq) ease-in-out infinite forwards;
    background-color: #fff;
    border-radius: 30px;
    width: .4vw;
}

.wave11 {
    aspect-ratio: .125/1;
    animation: waveform var(--wavefreq) ease-in-out infinite forwards;
    background-color: #eee;
    border-radius: 30px;
    width: .4vw;
}

.wave12 {
    aspect-ratio: .125/1;
    animation: waveform var(--wavefreq) ease-in-out infinite forwards;
    background-color: #ddd;
    border-radius: 30px;
    width: .4vw;
}

:root {
    --m: 17.5;
    --wavefreq: calc(200ms * var(--m));
}

.wave1 {
    --wavefreq: calc(125ms * var(--m));
}

.wave2 {
    --wavefreq: calc(175ms * var(--m));
}

.wave3 {
    --wavefreq: calc(400ms * var(--m));
}

.wave4 {
    --wavefreq: calc(200ms * var(--m));
}

.wave5 {
    --wavefreq: calc(600ms * var(--m));
}

.wave6 {
    --wavefreq: calc(400ms * var(--m));
}

.wave7 {
    --wavefreq: calc(200ms * var(--m));
}

.wave8 {
    --wavefreq: calc(900ms * var(--m));
}

.wave9 {
    --wavefreq: calc(500ms * var(--m));
}

.wave10 {
    --wavefreq: calc(200ms * var(--m));
}

.wave11 {
    --wavefreq: calc(1200ms * var(--m));
}

.wave12 {
    --wavefreq: calc(600ms * var(--m));
}