* {
    box-sizing: border-box;
    margin: 20px;
    padding: 20px;
    font-family: Trebuchet MS;
}

body {
    background-color: rgb(50, 52, 54);
}

.head {
    align-items: center;
    position: sticky;
}

.head__container {
    margin: 0 auto;
    padding: 25px 100px;
    display: list-item;
}

header {
    font-size: 500%;
    color: rgb(198, 252, 255);
}

.head__container p {
    font-size: 250%;
    color: rgb(151, 179, 181);
}
