<!DOCTYPE HTML>
<html lang="en">

  <head>
    <title>clxrity</title>
    <link rel="icon" type="image/x-icon" href="_includes/images/favicon.ico">
    <link rel="stylesheet" href="styles.css">
    <script src="title.js"></script>
  </head>
  <style>
  </style>

  <body>
    <div class="wrapper">
      <h1 class="title"><b>clxrity</b></h1>
    </div>
    <br>
    <div class="gallery">

      <div class="gallery__column">
        <figure class="gallery__thumb">
          <img src="https://i.pinimg.com/originals/24/2e/4a/242e4a4746b93f4e0080dc512bd0aeb3.gif" class="gallery__image" style="width:250px;height:300px;">

        </figure>
        <figure class="gallery__thumb">
          <img src="https://i.gyazo.com/c0d86ef407f5c5baa6904112b747834c.png" class="gallery__image" style="width:250px;height:300px;">
        </figure>


        <figure class="gallery__thumb">
          <img src="https://64.media.tumblr.com/0dbffdf8e1a9d024602964aeeb760143/tumblr_pdjkwb7QWb1xwjwxko1_640.gifv" class="gallery__image" style="width:500px;height:300px;">
        </figure>

      </div>

      <div class="gallery__column">
        <figure class="gallery__thumb">
          <img src="https://i.pinimg.com/564x/80/eb/46/80eb46d8d33d1a57b2a13a62d589ccd9.jpg" class="gallery__image" style="width:250px;height:300px;">

        </figure>
        <figure class="gallery__thumb">
          <img src="https://i.pinimg.com/564x/96/60/5e/96605e7a17757d2c7d04f9a3f3f4c5db.jpg" class="gallery__image" style="width:250px;height:300px;">
        </figure>


        <figure class="gallery__thumb">
          <img src="https://i.pinimg.com/originals/a9/24/3d/a9243d82d3ad7878192211221b25a18c.gif" class="gallery__image" style="width:500px;height:300px;">
        </figure>

      </div>
    </div>
  </body>

</html>
