<!DOCTYPE HTML>
<html lang="en">

  <head>
    <title>clxrity</title>
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="stylesheet" href="assets/css/styles.css">
    <script src="title.js"></script>
  </head>
  <style>
  </style>

  <body>
    <div class="wrapper">
      <h1 class="title"><b>clxrity</b></h1>
    </div>
    <br>
    <div class="gallery">

      <div class="gallery__column">
        <figure class="gallery__thumb">
          <img src="https://i.pinimg.com/originals/24/2e/4a/242e4a4746b93f4e0080dc512bd0aeb3.gif" class="gallery__image" style="width:250px;height:300px;">

        </figure>
        <figure class="gallery__thumb">
          <img src="https://i.gyazo.com/c0d86ef407f5c5baa6904112b747834c.png" class="gallery__image" style="width:250px;height:300px;">
        </figure>


        <figure class="gallery__thumb">
          <img src="https://64.media.tumblr.com/0dbffdf8e1a9d024602964aeeb760143/tumblr_pdjkwb7QWb1xwjwxko1_640.gifv" class="gallery__image" style="width:500px;height:300px;">
        </figure>

      </div>

      <div class="gallery__column">
        <figure class="gallery__thumb">
          <img src="https://i.pinimg.com/564x/80/eb/46/80eb46d8d33d1a57b2a13a62d589ccd9.jpg" class="gallery__image" style="width:250px;height:300px;">

        </figure>
        <figure class="gallery__thumb">
          <img src="https://i.pinimg.com/564x/96/60/5e/96605e7a17757d2c7d04f9a3f3f4c5db.jpg" class="gallery__image" style="width:250px;height:300px;">
        </figure>


        <figure class="gallery__thumb">
          <img src="https://i.pinimg.com/originals/a9/24/3d/a9243d82d3ad7878192211221b25a18c.gif" class="gallery__image" style="width:500px;height:300px;">
        </figure>

      </div>
      <div class="gallery__column">
        <figure class="gallery__thumb">
          <img src="https://i.pinimg.com/originals/74/65/46/7465462eb2e126a7dcf4f54579fea9c3.jpg" class="gallery__image" style="width:250px;height:300px;">

        </figure>
        <figure class="gallery__thumb">
          <img src="https://i.pinimg.com/originals/32/e7/ce/32e7cec6f9111ed21f3775653fa6b117.gif" class="gallery__image" style="width:250px;height:300px;">
        </figure>


        <figure class="gallery__thumb">
          <img src="https://i.pinimg.com/originals/19/25/03/1925031eed334ed76162f6d142c59684.gif" class="gallery__image" style="width:500px;height:300px;">
        </figure>

      </div>
    </div>
    <! -- NEXT GALLERY -->

      <div class="gallery">

        <div class="gallery__column">
          <figure class="gallery__thumb">
            <img src="https://i.pinimg.com/564x/cd/ef/76/cdef764cc18a5da8f214515f9c4fe546.jpg" class="gallery__image" style="width:250px;height:300px;">

          </figure>
          <figure class="gallery__thumb">
            <img src="https://i.pinimg.com/originals/f2/de/81/f2de81281362062c862f02de66ab591b.gif" class="gallery__image" style="width:250px;height:300px;">
          </figure>


          <figure class="gallery__thumb">
            <img src="https://i.pinimg.com/originals/0c/7b/7b/0c7b7bd6de1525cecb762d4f3de34ea1.gif" class="gallery__image" style="width:500px;height:300px;">
          </figure>

        </div>

        <div class="gallery__column">
          <figure class="gallery__thumb">
            <img src="https://i.pinimg.com/564x/9a/7c/f1/9a7cf125bc6428f79f7bf487565bccfd.jpg" class="gallery__image" style="width:250px;height:300px;">

          </figure>
          <figure class="gallery__thumb">
            <img src="https://i.pinimg.com/736x/60/c8/3f/60c83f4c37f0f16dce7e864dc2f8b865.jpg" class="gallery__image" style="width:250px;height:300px;">
          </figure>


          <figure class="gallery__thumb">
            <img src="https://i.pinimg.com/564x/87/ae/39/87ae39217307eeffc5a424acb0d11e4a.jpg" class="gallery__image" style="width:500px;height:300px;">
          </figure>

        </div>
        <div class="gallery__column">
          <figure class="gallery__thumb">
            <img src="https://i.pinimg.com/564x/72/15/f0/7215f09ee8f3d719c8cf0354cdd84073.jpg" class="gallery__image" style="width:250px;height:300px;">

          </figure>
          <figure class="gallery__thumb">
            <img src="https://i.pinimg.com/564x/41/0c/42/410c42fd1a036db88b0fa5d187e5d4dd.jpg" class="gallery__image" style="width:250px;height:300px;">
          </figure>


          <figure class="gallery__thumb">
            <img src="https://i.pinimg.com/originals/c6/b6/42/c6b64282d51cf5aa35d5d6cbaf75414b.gif" class="gallery__image" style="width:500px;height:300px;">
          </figure>

        </div>
      </div>
  </body>

</html>
