.button {
    @apply flex flex-row space-x-2 rounded-lg px-8 py-6 text-xl hover:scale-110 transition-all font-semibold w-full uppercase tracking-widest items-center justify-center
}

.purpleShadow {
    box-shadow: 2px 1px 7.5px #a26baa;
}

.purpleShadow:hover {
    box-shadow: 2px 1px 15px #8c44d0;

    @apply transition-all
}

.blueShadow {
    box-shadow: 2px 1px 7.5px #192db2;
}

.blueShadow:hover {
    box-shadow: 2px 1px 15px #1951b2;

    @apply transition-all
}

.whiteShadow {
    box-shadow: 2px 1px 7.5px #d7d7d7;
}

.whiteShadow:hover {
    box-shadow: 2px 1px 15px #eeeeee;

    @apply transition-all
}