@tailwind base;
@tailwind components;
@tailwind utilities;

/* ========================= */
/* MAIN */
body {
    height: 100vh;
    background-color: #0e0e0e;
    color: #ddd;
    margin: 0;
    padding: 0;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

/* ========================= */
/* CLASSES */

.heading {
    @apply text-5xl md:text-6xl lg:text-7xl xl:text-8xl 2xl:text-9xl
}
/* ========================== */
